In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

In [2]:
summer = pd.read_csv("https://raw.githubusercontent.com/eozhisarcikli/olympic-game-analysis/main/data/summer.csv")
winter = pd.read_csv("https://raw.githubusercontent.com/eozhisarcikli/olympic-game-analysis/main/data/winter.csv")
track = pd.read_csv("https://raw.githubusercontent.com/eozhisarcikli/olympic-game-analysis/main/data/data.csv")
countries = pd.read_csv("https://raw.githubusercontent.com/eozhisarcikli/olympic-game-analysis/main/data/dictionary.csv")

In [3]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [24]:
summer['Athlete']=summer['Athlete'].str.split(', ').str[::-1].str.join(' ').str.title()
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,Alfred Hajos,HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,Otto Herschmann,AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,Dimitrios Drivas,GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,Ioannis Malokinis,GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,Spiridon Chasapis,GRE,Men,100M Freestyle For Sailors,Silver

In [25]:
winter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [26]:
winter['Athlete']=winter['Athlete'].str.split(', ').str[::-1].str.join(' ').str.title()
winter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,G. Berthet,FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,C. Mandrillon,FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,Maurice Mandrillon,FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,André Vandelle,FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,Adolf Aufdenblatten,SUI,Men,Military Patrol,Gold

In [50]:
male_most_medals = summer[summer['Gender']=='Men']['Athlete'].value_counts().index[0]
male_medals = summer[summer['Gender']=='Men']['Athlete'].value_counts().values[0]
female_most_medals = summer[summer['Gender']=='Women']['Athlete'].value_counts().index[0]
female_medals = summer[summer['Gender']=='Women']['Athlete'].value_counts().values[0]

print('The Highest Decorated Male Athlete is',male_most_medals,'with',male_medals,'medals')
print('The Highest Decorated Female Athlete is',female_most_medals,'with',female_medals,'medals')

The Highest Decorated Male Athlete is Michael Phelps with 22 medals
The Highest Decorated Female Athlete is Larisa Latynina with 18 medals